In [177]:
import dask.dataframe as dd

In [178]:
df1 = dd.read_csv('itineraries.csv', dtype={'totalTravelDistance': 'float64'})
df1.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [179]:
df1 = df1.dropna()

In [180]:
df = df1[df1['destinationAirport'] == 'JFK']
df.columns

Index(['legId', 'searchDate', 'flightDate', 'startingAirport',
       'destinationAirport', 'fareBasisCode', 'travelDuration', 'elapsedDays',
       'isBasicEconomy', 'isRefundable', 'isNonStop', 'baseFare', 'totalFare',
       'seatsRemaining', 'totalTravelDistance',
       'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw',
       'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw',
       'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode',
       'segmentsAirlineName', 'segmentsAirlineCode',
       'segmentsEquipmentDescription', 'segmentsDurationInSeconds',
       'segmentsDistance', 'segmentsCabinCode'],
      dtype='object')

In [181]:
df = df.drop(columns=['legId', 'destinationAirport', 'fareBasisCode', 'segmentsDepartureTimeEpochSeconds',
       'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode', 'segmentsAirlineCode', 'segmentsDurationInSeconds',
       'segmentsDistance'])
df.head()

,searchDate,flightDate,startingAirport,travelDuration,elapsedDays,isBasicEconomy,isRefundable,isNonStop,baseFare,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw,segmentsAirlineName,segmentsEquipmentDescription,segmentsCabinCode
262,2022-04-16,2022-04-17,ATL,PT2H15M,0,False,False,True,171.16,198.6,7,762.0,2022-04-17T09:00:00.000-04:00,2022-04-17T11:15:00.000-04:00,JetBlue Airways,Airbus A320,coach
263,2022-04-16,2022-04-17,ATL,PT2H18M,0,False,False,True,171.16,198.6,5,762.0,2022-04-17T15:27:00.000-04:00,2022-04-17T17:45:00.000-04:00,Delta,Boeing 767,coach
264,2022-04-16,2022-04-17,ATL,PT2H23M,0,False,False,True,171.16,198.6,7,762.0,2022-04-17T18:50:00.000-04:00,2022-04-17T21:13:00.000-04:00,JetBlue Airways,Embraer 190,coach
265,2022-04-16,2022-04-17,ATL,PT6H39M,0,False,False,False,171.16,206.1,1,773.0,2022-04-17T08:20:00.000-04:00||2022-04-17T13:0...,2022-04-17T09:50:00.000-04:00||2022-04-17T14:5...,American Airlines||American Airlines,Airbus A320||Boeing 737-800,coach||coach
266,2022-04-16,2022-04-17,ATL,PT6H51M,0,False,False,False,171.16,207.6,1,1320.0,2022-04-17T14:39:00.000-04:00||2022-04-17T18:1...,2022-04-17T15:54:00.000-05:00||2022-04-17T21:3...,American Airlines||American Airlines,Embraer 175||Boeing 737 MAX 8,coach||coach

In [182]:
df['segmentsAirlineName'] = df['segmentsAirlineName'].str.split('\|\|').str[0]
df['segmentsCabinCode'] = df['segmentsCabinCode'].str.split('\|\|').str[0]
df['segmentsArrivalTimeRaw'] = df['segmentsArrivalTimeRaw'].str.split('\|\|').str[0]
df['segmentsDepartureTimeRaw'] = df['segmentsDepartureTimeRaw'].str.split('\|\|').str[0]
df['segmentsEquipmentDescription'] = df['segmentsEquipmentDescription'].str.split('\|\|').str[0]

In [183]:
df['segmentsArrivalTimeRaw'] = dd.to_datetime(df['segmentsArrivalTimeRaw'], format='%Y-%m-%dT%H:%M:%S.%f%z')
df['segmentsDepartureTimeRaw'] = dd.to_datetime(df['segmentsDepartureTimeRaw'], format='%Y-%m-%dT%H:%M:%S.%f%z')

In [184]:
# Assuming df is your Dask DataFrame
df['travelDuration'] = dd.to_timedelta(df['travelDuration'])

# Extract hours and minutes
df['Hour'] = df['travelDuration'].dt.components['hours']
df['Minute'] = df['travelDuration'].dt.components['minutes']
df['searchDate'] = dd.to_datetime(df['searchDate'])
df['flightDate'] = dd.to_datetime(df['flightDate'])

In [185]:
# Extract month from 'searchDate' and 'flightDate'
df['searchMonth'] = df['searchDate'].dt.month_name()
df['flightMonth'] = df['flightDate'].dt.month_name()

# If needed, convert Hour and Minute to integers
df['Hour'] = df['Hour'].astype(int)
df['Minute'] = df['Minute'].astype(int)

bool_columns = ['isBasicEconomy', 'isRefundable', 'isNonStop']

# Convert boolean columns to int (0 for False, 1 for True)
df[bool_columns] = df[bool_columns].astype(int)

In [186]:
#Extract day from searchDate amd flightDate
df['searchDay'] = df['searchDate'].dt.strftime('%A')
df['flighthDay'] = df['flightDate'].dt.strftime('%A')
df.head()

,searchDate,flightDate,startingAirport,travelDuration,elapsedDays,isBasicEconomy,isRefundable,isNonStop,baseFare,totalFare,...,segmentsArrivalTimeRaw,segmentsAirlineName,segmentsEquipmentDescription,segmentsCabinCode,Hour,Minute,searchMonth,flightMonth,searchDay,flighthDay
262,2022-04-16,2022-04-17,ATL,0 days 02:15:00,0,0,0,1,171.16,198.6,...,2022-04-17 11:15:00-04:00,JetBlue Airways,Airbus A320,coach,2,15,April,April,Saturday,Sunday
263,2022-04-16,2022-04-17,ATL,0 days 02:18:00,0,0,0,1,171.16,198.6,...,2022-04-17 17:45:00-04:00,Delta,Boeing 767,coach,2,18,April,April,Saturday,Sunday
264,2022-04-16,2022-04-17,ATL,0 days 02:23:00,0,0,0,1,171.16,198.6,...,2022-04-17 21:13:00-04:00,JetBlue Airways,Embraer 190,coach,2,23,April,April,Saturday,Sunday
265,2022-04-16,2022-04-17,ATL,0 days 06:39:00,0,0,0,0,171.16,206.1,...,2022-04-17 09:50:00-04:00,American Airlines,Airbus A320,coach,6,39,April,April,Saturday,Sunday
266,2022-04-16,2022-04-17,ATL,0 days 06:51:00,0,0,0,0,171.16,207.6,...,2022-04-17 15:54:00-05:00,American Airlines,Embraer 175,coach,6,51,April,April,Saturday,Sunday

In [188]:
df['searchDate'] = dd.to_datetime(df['searchDate'])
df['flightDate'] = dd.to_datetime(df['flightDate'])

df['dayDiff'] = (df['flightDate'] - df['searchDate']).dt.days

In [189]:
# Drop the original 'travelDuration' column if not needed
df = df.drop(columns=['travelDuration', 'segmentsArrivalTimeRaw', 'segmentsDepartureTimeRaw'])

In [190]:
df['totalDuration'] = df['Hour']*60 + df['Minute']

In [191]:
df.dtypes

searchDate                      datetime64[ns]
flightDate                      datetime64[ns]
startingAirport                         object
elapsedDays                              int64
isBasicEconomy                           int32
isRefundable                             int32
isNonStop                                int32
baseFare                               float64
totalFare                              float64
seatsRemaining                           int64
totalTravelDistance                    float64
segmentsAirlineName                     object
segmentsEquipmentDescription            object
segmentsCabinCode                       object
Hour                                     int32
Minute                                   int32
searchMonth                             object
flightMonth                             object
searchDay                               object
flighthDay                              object
dayDiff                                  int64
totalDuration                            int32
dtype: object

In [192]:
df = df.reset_index(drop=True)
df.head()

,searchDate,flightDate,startingAirport,elapsedDays,isBasicEconomy,isRefundable,isNonStop,baseFare,totalFare,seatsRemaining,...,segmentsEquipmentDescription,segmentsCabinCode,Hour,Minute,searchMonth,flightMonth,searchDay,flighthDay,dayDiff,totalDuration
0,2022-04-16,2022-04-17,ATL,0,0,0,1,171.16,198.6,7,...,Airbus A320,coach,2,15,April,April,Saturday,Sunday,1,135
1,2022-04-16,2022-04-17,ATL,0,0,0,1,171.16,198.6,5,...,Boeing 767,coach,2,18,April,April,Saturday,Sunday,1,138
2,2022-04-16,2022-04-17,ATL,0,0,0,1,171.16,198.6,7,...,Embraer 190,coach,2,23,April,April,Saturday,Sunday,1,143
3,2022-04-16,2022-04-17,ATL,0,0,0,0,171.16,206.1,1,...,Airbus A320,coach,6,39,April,April,Saturday,Sunday,1,399
4,2022-04-16,2022-04-17,ATL,0,0,0,0,171.16,207.6,1,...,Embraer 175,coach,6,51,April,April,Saturday,Sunday,1,411

In [193]:
df = df.sample(frac=0.1, random_state=42)

In [194]:
df.to_csv('jfkDatafinal.csv', index=False, single_file=True)

['C:\\Users\\DELL\\Expedia Airfare\\jfkDatafinal.csv']